<?xml version="1.0" encoding="UTF-8"?>
<!--
    Starter Blueprint Camel Definition beans
-->
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:camel="http://camel.apache.org/schema/blueprint"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xsi:schemaLocation="
       http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
       http://camel.apache.org/schema/blueprint http://camel.apache.org/schema/blueprint/camel-blueprint.xsd">

    <bean id="entry" class="com.estafet.controller.BankXEntry"/>

    <bean id="processing" class="com.estafet.controller.BankXProcessing"/>

    <bean id="report" class="com.estafet.controller.BankXReport" />

    <bean id="schedule" class="com.estafet.controller.BankXSchedule" />

    <bean id="db" class="com.estafet.controller.BankXDB" />

    <bean id="enrichService" class="com.estafet.processors.CustomLocalProcessor">
        <property name="accountEnricherService" ref="accountService"/>
    </bean>

    <bean id="customProcessor" class="com.estafet.processors.CustomProcessor"/>

    <bean id="customEnricher" class="com.estafet.common.CustomEnricher" />

    <bean id="aggregation" class="com.estafet.common.CustomAggregateStrategy" />

    <bean id="fileRenameProcessor" class="com.estafet.processors.FileRenameProcessor" />

    <bean id="dbPersistProcessor" class="com.estafet.processors.DBPersistProcessor">
        <property name="accountService" ref="accountService"/>
    </bean>

    <camelContext trace="false" xmlns="http://camel.apache.org/schema/blueprint">
        <routeBuilder ref="entry"/>
        <routeBuilder ref="processing"/>
        <routeBuilder ref="report" />
        <routeBuilder ref="schedule" />
        <routeBuilder ref="db" />
    </camelContext>

</blueprint>